<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Chat Real Time</title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
        <style>
            #zone_chat{
                height: 400px;
                overflow: auto;
            }            
            #zone_chat strong {
                color: white;
                background-color: black;
                padding: 2px;
            }
            .histo{
                color: lightsteelblue;
            }
            #zone_chat .histo strong{
                background-color: lightsteelblue;
            }
            .author{
                text-align: right;
            }
            .updates{
                height: 30px;
            }
        </style>
    </head>
 
    <body>
        {% block body %}{% endblock %}

        {% block js %}{% endblock %}
    </body>
</html>